body {
    text-align: center;
    background-color: #015370;
}

header,
h2 {
    color: white;
}
.list {
    margin: 0 auto;
}

ul {
    list-style: inside;
    color: #029ED6; 
    text-align: center;   
}

label {
    color: #0AFFE7;
    font-size: 20px;
}

#result {
    font-size: 40px;
    text-align: center;
}

p {
   color: #0AFFE7;
   font-size: 20px;
}

button {
    background-color: #0AFFE7;
    font-size: 20px;
    margin: 20px;
}










